/*Paleta*/
:root[data-tema="claro"] {
  --background: #92adc2;
  --text: #2e4030;
  --titulo: #364a3a;
  --destaques: #b8ac92;
  --links: #4b6b57;
  --bordas: #d1c2aa;
  --botões: #364a3a;
  --hover: #2b372a;
  --cards: #ffffff;
  --input: #f5f0e1;
  --shadow: 0 4px 8px rgba(75, 64, 53, 0.3);
}
:root[data-tema="escuro"] {
  --background: #1f1f1a;
  --text: #d8d3c2;
  --titulo: #ced7c2;
  --destaques: #b8ac92;
  --links: #a5c2a2;
  --bordas: #3d3d35;
  --botões:  #99CCFF;
  --hover: #91a98f;
  --cards: #252520;
  --input: #2a2a2a;
  --shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
/*Reset Geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--background);
}
h1,
h2,
h3 {
  font-family: "Playfair Display";
  color: var(--titulo);
  text-align: center;
}
:not(h1, h2) {
  font-family: "Libre Baskerville";
}
p,
label {
  color: var(--text);
}
a.ancoraBotao {
  /*Para botões que redirecionam para outras pages*/
  color: var(--background);
  padding: 1.3rem 1rem;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

/*Centralizaçao geral*/
.mostruario{
    display: flex;
    justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  header& {
    justify-content: space-between;
    background-color: var(--background);
    box-shadow: var(--shadow);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  footer& {
    height: 11.2vh;
  }
  form& {
    flex-flow: column nowrap;
    gap: 1.5rem;
    margin-top: 1rem;
  }
}
/*formulário*/
form{
    background-color: var(--background);
    box-shadow: var(--shadow);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
input,
textarea {
  padding: 1rem 3rem;
  border-radius: 20px;
  border: var(--bordas);
  box-shadow: inset var(--shadow);
  background-color: var(--input);
  outline: none;
  text-align: center;
  color: var(--text);
}

input{
    margin-top: 30px;
}

#mensagem{
    margin-top: 30px;
}


/* Menu lateral */
.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  width: 10rem;
  height: 100vh;
  margin-left: 1rem;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: -25rem;
  transition: left 0.5s ease-in-out;
  padding: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 2px solid;
  border-color: var(--bordas);
  box-shadow: var(--shadow);

  &.open {
    left: -1.5rem;
  }
  & > :first-child {
    margin-top: 1rem;
  }
  & > :last-child {
    margin-bottom: 1rem;
  }
  & ul {
    list-style-type: none;
    padding: 0;
  }
  & li {
    margin-bottom: 10px;
  }
  & li:first-child {
    margin-top: 2.5rem;
  }
  & a {
    display: block;
    font-size: x-large;
    padding: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0px;
    padding-top: 0px;
    text-decoration: none;
    color: var(--text);
    margin-left: 0.5rem;
    font-size: 1.3rem;
  }
  & h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
  }

}
/*Cards*/
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 1rem;
  background-color: var(--cards);
  width: 50vw;
  padding: 1rem 3rem;
  border-radius: 15px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--shadow);

  &.noticia {
    gap: 8rem;
    flex-direction: row;

    & > * {
      margin-top: 1.5rem;
      margin-bottom: 1.2rem;
    }
  }
}
/*navbar*/
#logo{
    width: 100px;
    border-radius: 50%;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  padding: 1rem 3rem;
}
/*Botão*/
.botao {
  text-align: center;
  border: var(--bordas);
  background-color: var(--botões);
  color: var(--background);
  padding: 1rem;
  height: auto;
  border-radius: 20px;
}
.botao:hover {
  background-color: var(--hover);
  cursor: pointer;
  scale: 1.1;
}
.botao:active {
  background-color: var(--hover);
  cursor: pointer;
  scale: 0.9;
}
/*Botão de mudar tema*/
.botao-tema {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.icone-tema {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--titulo);
  transition: fill 0.3s ease;
  cursor: pointer;
}

/*Início*/
img.mostruario {
  width: 15rem;
}

.inicio-2{
  margin-left: 200px;
}
/*ícones footer*/
.icon {
  width: 1.9rem;
  height: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  fill: var(--links); /* usa sua variável já existente */
  transition: fill 0.3s ease;
}

/* Mudança de cor no hover */
.icon:hover {
  fill: var(--hover);
}

/* Botão de pedido */
.botao2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
  text-align: center;
  border: var(--bordas);
  background-color: var(--botões);
  color: var(--background);
  padding: 1rem;
  height: auto;
  border-radius: 20px;
}
.botao2:hover {
  background-color: var(--hover);
  cursor: pointer;
  scale: 1.1;
}
.botao2:active {
  background-color: var(--hover);
  cursor: pointer;
  scale: 0.9;
}

/* designe responsivo */

@media screen and (max-width: 768px) {
  article{
    width: 60%;
  }
  #inicio-1{
    width: 100%;
    flex-direction: column;
  }
  .inicio-2{
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }

}
